@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Noto Serif JP", sans-serif;
    background: #E6E2D7;
}

h1, h2, p, a {
    writing-mode: vertical-rl;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.right-to-left {
    writing-mode: vertical-rl;
}

.left-to-right {
    writing-mode: vertical-lr;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}


.site-title {
    height: fit-content;
    font-size: 3rem;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 180px;
    padding: 60px 80px 30px 40px;
    background: url("../img/mainvisual-pc.jpg");
    background-position: center;
    color: #fff;
}

#header nav {
    margin-right: 35px;
    background: #00000033;
    height: fit-content;
    padding: 0 0 10px 10px;
}

#header nav li {
    margin-right: 25px;
}

#header #goto-online-store-btn {
    width: fit-content;
    height: fit-content;
    margin: auto auto 0 0;
    padding: 8px;
    background: #ffffff33;
}

#header #goto-online-store-btn .inner {
    padding: 50px 25px;
    border: 1px solid #fff;
}


main section {
    width: 100%;
    margin-bottom: 160px;
}

.section-title {
    display: inline;
    margin-bottom: 25px;
    font-size: 1.35rem;
}

.section-title-en {
    display: inline;
}

main section .content {
    margin-top: 80px;
}


#news ul {
    margin-right: 100px;
    border-right: 1px solid #000;
}

#news ul li {
    padding: 10px 30px;
    border-left: 1px solid #000;
}

#news ul li .news-date {
    font-size: 0.75rem;
}

#news ul li .news-title {
    font-size: 1.2rem;
}


main section .content {
    width: 70%;
}

main section .content .product {
    position: relative;
    margin: 0 20px;
    width: 100%;
}

main section .content .product .product-img {
    width: 100%;
}

section .content .product-detail {
    display: flex;
    width: calc(50% + 20px);
    aspect-ratio: 8 / 3;
    z-index: 1;
}

section .content .product-detail p {
    max-width: 75%;
    margin: auto;
    writing-mode: horizontal-tb;
    text-align: center;
}


section.right-to-left .product-img {
    padding-bottom: 20px;
    padding-left: 20px;
}

section.right-to-left .product-detail {
    position: absolute;
    bottom: 0;
    left: 0;
}

section.left-to-right .product-img {
    padding-right: 20px;
    padding-bottom: 20px;
}

section.left-to-right .product-detail {
    position: absolute;
    bottom: 0;
    right: 0;
}


#create .product-detail {
    background: #F9E90699;
    color: #fff;
}

#science .product-detail {
    background: #952A2699;
    color: #fff;
}


#google-map {
    width: 100%;
    height: 450px;
}


#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 80px 80px 0 30px;
}

#footer .flex {
    display: flex;
    flex-direction: column;
}

#footer .address {
    margin-right: 60px;
}

#footer nav {
    margin-right: 60px;
}

#footer nav li {
    margin-right: 25px;
}

#footer .contact {
    margin: 0 auto 0 0;
}

#copy-right {
    writing-mode: horizontal-tb;
    text-align: center;
    padding: 30px 0;
    font-size: 0.75rem;
}




@media screen and (max-width: 768px) {
    #header {
        flex-direction: row;
        background: url("../img/mainvisual-sp.jpg");
        background-position: center;
    }

    #news ul li {
        padding: 15px 10px;
    }

    #news ul li:nth-child(n + 4) {
        display: none;
    }

    .section-title-en:nth-last-child(n + 2) {
        display: none;
    }

    main section .content {
        width: 90%;
    }

    .section-title {
        display: block;
        width: 10%;
    }

    main section .content .product {
        margin: 0;
    }

    #footer {
        padding: 50px 10px;
    }

    #footer .address {
        margin-right: 10px;
    }

    #footer nav {
        margin-right: 10px;
    }
}
